<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm sticky-top">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand fw-bold" href="/">
            STAY FINDER
        </a>

        <!-- Mobile toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-2">

                <li class="nav-item">
                    <a class="btn btn-primary btn-sm ms-lg-2" href="/hotels/create">
                        List your property
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>
