<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create hotel</title>
</head>
<body>
    <h1>Add your hotel</h1>
    <form action="/hotels/create" method="post">
        <input type="text" placeholder="Enter Name" name="name"><br>    
        <input type="text" placeholder="discription" name="discription"><br>
        <input type="text" placeholder="paste image url" name="image"><br> 
        <input type="number" placeholder="Enter Price" name="price"><br>
        <input type="text" placeholder="Enter website URL" name="site"><br>
        <input type="text" placeholder="Enter country" name="country"><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>