<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Hotels</h1>
    
    <div class="top-action">
        <form action="/hotels/create" method="get">
            <button type="submit">Add Hotel</button>
        </form>
    </div>

    <div class="hotel-list">
        <% for (let hotel of hotels) { %>
            <div class="hotel">
                <h2><%= hotel.name %></h2>
                <img src="<%= hotel.image %>" alt="Loading" height="200" width="270">

            <div class="hotel-actions">
                <form action="/hotels/<%= hotel._id %>" method="get">
                    <button type="submit">View</button>
                </form>

                <form action="/hotels/<%= hotel._id %>/delete" method="post">
                    <button type="submit" class="delete">Delete</button>
                </form>
            </div>

            </div>
        <% } %>
    </div>
</body>
</html>
